/* Default Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Shared Styles */
.orange {
  color: orange;
}
.sky-blue {
  color: skyblue;
}
.tertiary {
  color: #05d4df;
}
.quartery {
  color: #5d58ef;
}
/* Task -01: Navbar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  width: 100%;
  /* background: rgb(30, 30, 30);    */
}
.navbar-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 186px;
}
.contact-btn {
  width: 17%;
  height: 80%;
  padding: 10px;
  border-radius: 12px;
  background-color: orange;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}
.main-menu {
  width: 33%;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.school-heading {
  width: 17%;
  height: 100%;
  display: flex;
  align-items: center;
}
.school-heading > img {
  width: 30%;
}
.school-heading > h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}
/* Task-01 Finished */

/* Task-02: Start. Banner Content */
.banner {
  width: 80%;
  height: 575px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.banner-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.banner-container > h1 {
  width: 640px;
  height: 183px;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
}
#Empowering {
  display: block;
  color: #fea301;
}
#Vision {
  color: #01acfd;
}
.banner-container > p {
  width: 640px;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.banner-container > button {
  width: 197px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 12px;
  color: white;
}
/* Task-02 Finished */
@media screen and (max-width: 768px) {
  .main-menu,
  .contact-btn,
  .school-heading > h3 {
    display: none;
    width: 0;
    height: 0;
  }
  .navbar {
    border: 0.5px solid rgb(254, 163, 1);
  }
  .navbar-container {
    width: 97%;
    height: 23%;
  }
  .school-heading > img {
    /* fi_15371027 */
    position: relative;
    width: 46px;
    height: 46px;
    /* Task-02 Responsive Starts */
  }
  .banner {
    width: 357px;
    height: 725px;
    left: 16px;
    top: 78px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20;
    padding: 20px 0px 20px 0px;
  }
  .banner > img {
    width: 336.58px;
    height: 413px;
    margin: 20px 0px;
  }
  .banner-container {
    width: 357px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-align: center;
  }
  .banner-container > h1 {
    width: 357px;
    height: 120px;
    /* margin: 18px 0px; */
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
  .banner-container > p {
    /* display: none; */
    width: 357px;
    height: 54px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  .banner-container > button {
    width: 131px;
    height: 42px;
    padding: 6px 24px 6px 24px;
    order: 2;
    border: none;
    font-size: 16px;
  }
}
